EMAIL_FROM = "geokrety@gmail.com"
EMAIL_USERNAME = "geokrety@gmail.com"
EMAIL_PASSWORD = "{{ geokrety_email_password }}"
EMAIL_SMTP_HOST = "smtp.gmail.com"
EMAIL_SMTP_PORT = "587"
EMAIL_TLS = True

SITE_BASE = "https://polls.geokrety.org/"
ADMIN_PASSWORD = "{{ geokrety_mole_name_admin_password }}"

VOTE_STEP=1
